<template lang="pug">
  #ruckgabe-umtausch.ruckgabe-umtausch
    br
    .container
      h3
        | Rückgabe & Umtausch
        br
        | Umtausch bzw. Retoursendungen
      p
        | Ihre Zufriedenheit liegt uns am Herzen. Daher bieten wie Ihnen die Möglichkeit eines 14-tägigen Umtausch- und Rückgaberechts. Wenn Sie die bezogenen Produkte unbenützt innerhalb von 14 Tagen nach Erhalt an uns zurücksenden möchten, können sie dies ohne der Angabe von Gründen tun. Da wir jedoch unseren Service sowie die Bestellabwicklung laufend verbessern möchten, bitten wir Sie uns dabei zu unterstützen und ein Rückgabeformular beizulegen, welches Sie unter
        a(href="mailto:office@xiamanspirts.com")  office@xiamanspirts.com
        |  anfordern können. Es bleibt Ihnen überlassen, ob Sie andere Produkte aus unserem Shop aussuchen, oder den Kaufpreis erstattet möchten. Bitte beachten Sie, dass Sie die Kosten für die Retournierung tragen und wir unfreie Pakete nicht annehmen können. Sollten Sie Mängel an dem Produkt oder einen Fehler unsererseits vorfinden, tragen wir natürlich die Versandkosten, hierfür bitten wir Sie jedoch um vorherige Kontaktaufnahme. Je nach gewählter Zahlungsart erfolgt die Überweisung innerhalb von 14 Tagen auf Ihr Bankkonto, beziehungsweise Ihren PayPal Account. Bitte verwenden Sie für die Rücksendung das folgende Formular und füllen Sie es bitte so weit wie möglich aus, damit wir Ihre Rücksendung schnellstens bearbeiten können.
</template>
<script>
      export default {
        name: 'RuckgabeUmtausch',
        data () {
          return {
          }
        }
      }
</script>
<style lang="stylus">
  .ruckgabe-umtausch
    margin-top 80px
    span
      font-weight bold
    p
      font-size 16px
</style>
