<template lang="pug">
  #impressum.impressum
    br
    .container
      h3 Impressum
      p
        | Informationspflicht laut §5 E-Commerce Gesetz, §14
        br
        |  Unternehmensgesetzbuch, §63 Gewerbeordnung und
        br
        |  Offenlegungspflicht laut §25 Mediengesetz
      p
        | Medieninhaber & Herausgeber
        br
        | Xiaman Spirits GmbH
        br
        | Salztorgasse 2/8
        br
        | 1010 Vienna
        br
        | Österreich
      p Geschäftsführung: Stefan Lackner, Hans-Peter Eder
      p
        a(href="tel:+43 512 352 253") Tel: +43 512 352 253
        br
        a(href="tel:+43 512 352 253 30") Fax: +43 512 352 253 30
        br
        a(href="mailto:office@xiamanspirits.com") E-Mail: office@xiamanspirits.com
      p
        | Registereintrag
        br
        | Rechtsform: Gesellschaft mit beschränkter Haftung (GmbH)
        br
        | Unternehmensgegenstand: Handel
        br
        | Firmenbuchgericht: LG Innsbruck
        br
        | Firmenbuchnummer: FN329433k
        br
        | UID Nummer: ATU65200711
      p
        | Eintragshinweis
        br
        | Behörde: Stadtmagistrat Innsbruck
        br
        | Mitglied: Wirtschaftskammer Tirol
        br
        | Gewerbevorschrift: Gewerbeordnung unter www.ris2.bka.gv.at
        br
        | Blattlinie: Das Webportal dient der Bewerbung und dem Absatz von uns vertriebener Waren und Dienstleistungen sowie der Darstellung des Unternehmens.
      p
        | Haftungshinweis
        br
        | Die Informationen, die auf diesen Seiten abgerufen werden können, erheben weder einen Anspruch auf Richtigkeit noch auf Vollständigkeit. Die Benutzung erfolgt auf eigene Gefahr. Wir weisen ausdrücklich darauf hin, dass wir für die Angebote Dritter im Internet (sogenannte "Deep Links") nicht verantwortlich sind. Soweit Links auf die Angebote Dritter verweisen, enthalten diese nach unserer Kenntnis keine strafbaren oder anderweitig verbotenen Inhalte. Für diese Inhalte wird keinerlei Haftung übernommen. Außerdem ist die Xiaman Spirits GmbH für Inhalte, die durch einen Urhebervermerk oder entsprechendes Branding als fremde Inhalte gekennzeichnet sind, nicht verantwortlich und lehnt jegliche Haftung für diese Inhalte ab.
</template>
    <script>
          export default {
            name: 'Impressum',
            data () {
              return {
              }
            }
          }
</script>
<style lang="stylus">
  .impressum
    margin-top 80px
    span
      font-weight bold
    p
      font-size 16px
</style>
