<template lang="pug">
  .disclaimer.flex-cc(v-if="rendered")
    .logo
      img.img-fluid.d-block(src='../../assets/images/logo-xiaman-2x.png')
    .country
      p.upper.mobile-only.older Are you older than 21 years?
      p.upper Where do you live?
      select(v-model="country")
        option GE
        option AU
        option FR
        option BE
        option ES
        option CR
        option US
        option CH
        option WW
    .age
      p.upper.hide-mobile Are you older than 21 years?
      button.btn-2(v-on:click="enter('yes')")
        span.upper yes
      a.btn-2(href="https://www.responsibility.org/" target="_blank")
        span.upper no
    .remember.mobile-only
      input(type="checkbox", v-model="remember" true-value="yes" false-value="no")
      p.span Remember me
    .disclaimer-text.mobile-only
      p As a business owner or manager, the decision to opt for offshore software development can be difficult.

</template>

<script>
import Vue from 'vue'
export default {
  name: 'Disclaimer',
  data () {
    return {
      legal: Vue.ls.get('xiaman-older-21'),
      country: Vue.ls.get('xiaman-country'),
      rendered: !(Vue.ls.get('xiaman-older-21') == "yes"),
      remember: 'no',
    }
  },
  created: function () {
    var older21 = Vue.ls.get('xiaman-older-21');
    var country = Vue.ls.get('xiaman-country');
    country = country.toLowerCase();
    if(older21 == "yes"){
        var path = this.$route.path;

        var pathSplit = path.split("/");
        var routeName = pathSplit[pathSplit.length - 1];

        if (pathSplit.length  > 3) {
          country = "WW";
          routeName = "";
        }

        var totalRoute = "/" + country.toLowerCase() + "/" + routeName;
        if (path.toUpperCase() != totalRoute.toUpperCase() ){
          this.$router.push(totalRoute);
        }
    }
  },
  methods: {
    enter: function (value) {
      if (this.remember === 'yes') {
        Vue.ls.set('xiaman-older-21', value, 30 * 24 * 60 * 60 * 1000); //expiry 30 day
        Vue.ls.set('xiaman-country', this.country, 30 * 24 * 60 * 60 * 1000); //expiry 30 day
      } else {
        Vue.ls.set('xiaman-older-21', value, 30 * 24 * 60 * 60 * 1000); //expiry 30 day
        Vue.ls.set('xiaman-country', this.country, 30 * 24 * 60 * 60 * 1000); //expiry 30 day
      }
      if(this.country != null){
        if(value === 'no'){
          this.rendered = true
        } else {
          this.rendered = false
          window.scrollTo(0,0);
          location.reload();
        }
      }

    }
  }
}

</script>

<style lang="stylus">
$font1 = 'Source Sans Pro', sans-serif
$font2 = 'Kaushan Script', cursive
$color1 = white
$color2 = #028864
$color3 = #0f0f0f
$color4 = black
$color5 = #2c2c2c
$color6 = #979797
$color7 = #9c9a9f
.disclaimer
  background $color4 url('../../assets/images/texturas-2.png') repeat repeat
  position fixed
  top 0
  left 0
  z-index 999999999999
  overflow hidden
  width 100vw
  height 100vh
  flex-direction column
  a
    text-decoration none
  .country, .age, .logo
    margin 3% 0
    select
      border-radius 0
      width 380px
      height 45px
      padding 0 10px
      background $color5
      border solid 1px $color6
      color $color1
  .logo
    margin-top -3%
    img
      margin 0 auto
      width 60%
  p
    color $color1
    font-size 18px
    font-weight 600
    text-align center
@media only screen and (max-width: 767px)
    .disclaimer
      .country select
        width 94%
        margin 0 3%
        max-width 380px
      .logo
        position absolute
        left 0
        right 0
        top 10%
        width 100%
        justify-content center
        img
          width 70%
      .older
        font-size 24px
        margin-bottom 10px
      .span, .disclaimer-text p
        color $color7
        display inline-block
        margin-left 15px
      input
        display inline-block
        background-color $color5
        border solid 1px $color6
        color $color1
        width 20px
        height 20px
      .disclaimer-text
        position absolute
        bottom 5%
        left 0
        right 0
        width 100%
        padding 0 10%
        p
          line-height 20px
          font-weight 300
</style>
