<template lang="pug">
  #xiaman
    .product-info
      .container
        .row.main-box
          .col-12.mobile-only
            h3.text-center 100 % Artisanal Mezcal
          .col-md-5
            img.img-fluid.mx-auto.d-block(src='../../assets/images/botella-1.png')
          .col-md-7.text-info
            div
              h3.hide-mobile 100 % Artisanal Mezcal
              span.hide-mobile
                span.strong 129 €
                span.text  per bottle
              p The manufacturing of Xiaman Mezcal is strictly "artesanal", which means according to tradition and specific rules. With 44% alcohol content, this „ensamble“-roasted Tepextate & Espadín blend is of the highest quality and meets all standards set by the Mezcal Regulatory Council.
              p Xiaman Mezcal is a very sensual spirit dedicated to detail and quality.
              p.strong 100% Agave I 700 ml.
              span.mobile-only
                span.strong 129 €
                span.text  per bottle
              div.presale
                p.bold Only Pre-Sale for Austria
                p please send an email to
                  a.mail-link(href="mailto:office@xiamanspirits.com") office@xiamanspirits.com
              //.btn-container
                form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                  input(type="hidden" name="cmd" value="_s-xclick")
                  input(type="hidden" name="hosted_button_id" value="5D539X7NBD8QL")
                  input.btn-1.upper(type="submit" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" value="Buy now")
        .row.details-box
          .col-md-4
              img.img-fluid(src='../../assets/images/icon-marker.svg')
              span.upper.strong origin
              p Santo Tomás de Arriba, Oaxaca, México
          .col-md-4
              img.img-fluid(src='../../assets/images/icon-agave.svg')
              span.upper.strong plantation
              p 50% Tepextate “Marmorata” agave and 50% Espadín “Angustifolia” agave
          .col-md-4
              img.img-fluid(src='../../assets/images/icon-star.svg')
              span.upper.strong selection
              p Experts select and clean by hand, leaving the heart of the Agave
          .col-md-4
              img.img-fluid(src='../../assets/images/icon-campfire.svg')
              span.upper.strong cooking
              p Our agaves are roasted in our artisanal earth ovens, with firewood fron the area
          .col-md-4
              img.img-fluid(src='../../assets/images/icon-barell.svg')
              span.upper.strong fermentation
              p Our Agave juice is natural fermented with our own yeast
          .col-md-4
              img.img-fluid(src='../../assets/images/icon-barell.svg')
              span.upper.strong tradition
              p The first litres yielded are poured on the sacred earth in an essential ritual that pays homage to Mother Nature.
    .prize
      .container.row
        .col-md-6
          h3 Xiaman Mezcal Artesanal is ÖGZ winner
          p In the tasting of the catering trade magazine ÖGZ , Xiaman was chosen as the winner in the category Tequila & Mezcal!
          a(href="/dist/Urkunde-Xiaman.pdf" download target="_blank") Download Certificate PDF
        .col-md-6.flex-cc
          img.img-fluid(src='../../assets/images/award.png')
    .product-introduction
      .container.row
        .col-md-6
          div.embed-responsive.embed-responsive-16by9
            iframe(width='560', height='315', src='https://www.youtube.com/embed/uyj7X4Y2qR4?rel=0&controls=1&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
        .col-md-6.text-info
          div
            h5 Mezcal Xiaman
            p Stories are written around experiences and anecdotes, and live on through the interpretation of history given by each one of us.
    .product-background
      .row
        .col-md-6.box
          img.img-fluid.d-block.w-100(src='../../assets/images/history-copy.jpg')
          .box-details
            h3 Our Process
            p A true work of art made by a group of Wixárica native artisans.
            router-link(:to="{name: 'our-process'}")
              .btn-1.upper see more
        .col-md-6.box
          img.img-fluid.d-block.w-100(src='../../assets/images/bottle-copy.jpg')
          .box-details
            h3 The bottle
            p A true work of art made by a group of Wixárica native artisans.
            router-link(:to="{name: 'our-process'}")
              .btn-1.upper see more
</template>

<script>
export default {
  name: 'Xiaman',
  data () {
    return {
    }
  }
}
</script>

<style lang="stylus">
$color1 = white
$color2 = #028864
$color3 = #0f0f0f
$color4 = #4a4a4a
.product-info
  margin-top 70px
  padding 50px 0
  background url('../../assets/images/texturas.png') repeat repeat
  .main-box img
    width 60%
  h3
    color $color2
    width 50%
    margin-bottom 30px
  span.strong
    font-size 28px
    margin-bottom 30px
    color $color3
  span
    color $color3
  .text-info p
    margin 15px 0
    color $color3
  .presale
    margin-top 40px
    .bold
      font-weight 800
      color $color2
      font-size 20px
      margin-bottom 0
    p
      margin-top 6px
    .mail-link
      color $color2
      margin-left 5px
      text-decoration underline

  .details-box
    margin-top 80px
    img
      display inline
      margin-right 10px
    .strong
      font-size 16px
    p
      font-size 14px
      width 70%
      color $color4
.prize
  display flex
  justify-content center
  background $color3
  padding 60px 0
  img
    margin auto
  h3,p
    color $color1
    margin 30px 0
  a
    color $color2 !important
    text-decoration underline !important

.product-introduction
  h5,p
    color $color1
.text-info
  display flex
  align-items center
  >div
    padding-left 40px
    p
      margin-top 20px
      width 75%
      color $color1
.product-background
  >div, .row, .row > div
    padding 0
    margin 0
  .box-details
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    display flex
    flex-direction column
    justify-content center
    align-items center
    h3,p
      color $color1
    p
      width 65%
      text-align center
      margin 25px 0
@media only screen and (max-width: 767px)
  .btn-container
    display flex
    justify-content center
    align-items center
  .prize > div > div
    margin-bottom 20px !important
  .product-info
    h3
      width 100%
      padding 0 10%
    .main-box img
      width 45%
      margin 20px 0
  .product-info
    .details-box
      padding 0 10%
      p
        width 100%
        font-size 16px
      .strong
        font-size 18px
    .text-info >div
      padding-left 0
    .text-info
      p
        padding 0 8%
        font-size 16px
        line-height 1.75
        text-align center
        width 100%
      p.strong
        font-size 18px
        margin 0
        margin-top 30px
      span.mobile-only
        margin-bottom 30px
        width 100%
        text-align center
        .strong
          font-size 42px
        span
          font-size 22px
</style>
