<template lang="pug">
  #our-history.our-history
    .bg-section.bg-section-1
      h3 The history of Xiaman
      div.container.history-text
        .row
          .col.text.flex-cc
            p
              |Stories are written around experiences and anecdotes, and live on through the interpretation of history given by each one of us.
              br
              |The history of Xiaman is different from all other mezcals’, and this has been a source of great pride that began when both European and Mexican cultures came together.
            p It was born from a chance encounter between those two worlds, the meeting of two cultures, when with a short glance came the sudden realization that two lives had changed forever.
          .col
            img.img-fluid.w-100(src='../../assets/images/history-1.jpg')
    .banner
      img.img-fluid.w-100(src='../../assets/images/history-1.jpg')
    .bg-section.bg-section-2
      div.container.history-text
        .row
          .col
            img.img-fluid.w-100(src='../../assets/images/history-2.jpg')
          .col.text.flex-cc
            p
              |Born in the Austrian Alps, Hans-Peter Éder was bewitched by two lovely Tapatío eyes, and soon after, he took Adriana as his bride. From that moment on, the Mexican essence of our traditions, aromas, and flavours became embedded in his life, making him fall deeper in love with a Mexico that would forever become part of his soul.
            p This is how Tequila Padre Azul was born. A tequila made with 100% Tequilana Weber agave plants. After the success of Tequila Padre Azul, Kim Albarrán, master mezcalier and friend of the Éder-Álvarez family, suggested that they should venture in the Mezcal World. Mezcal is the most ancestral and sacred beverage in Mexico, and deserves to be shared with the Old World.
    .bg-section.bg-section-3
      div.container.history-text
        .row
          .col.text.flex-cc
            p Together, they took a journey through Oaxaca, a state that boasts the widest variety of agaves in Mexico, and where different types of mezcal are lovingly produced. Fascinated by this spirit and the careful artisanal process, they both decided to embark in this new adventure.
            p Mezcal is known as “the beverage of the gods” or “the beverage that fell from the heavens”, and its origin dates back to pre-Hispanic times. A legend tells of a lightning bolt hitting a maguey during a fierce storm, initiating the first tatema, or cooking.
          .col
            img.img-fluid.w-100(src='../../assets/images/history-3.jpg')
    .bg-section.bg-section-4
      img.img-fluid.w-100(src="../../assets/images/history-bg2.png")
      .info.flex-cc
        p Inspired by the Xiaman, that mystical being who, since ancestral times, travels between heaven, earth, and the underworld, they decided to give this name to a new mezcal. This blend of tepextate and espadín agaves provides the perfect means to undertake this magical journey.


    .magic
      .container
        .row
          .col-12.mobile-only
            h5 A magic moment
            img.img-fluid.d-block.mx-auto(src='../../assets/images/magic-moment.png')
          .col-md-6.col-12
            h5.hide-mobile A magic moment
            p In Mesoamerican cultures, the jaguar, that mysterious ghostly creature that roams the jungle and vanishes on the edge of consciousness and the unconscious, messenger between the living and the dead, infiltrates the Xiaman´s spirit. A Xiaman is the keeper of traditions, and responsible for the balance between men, nature, and the spiritual world. With its delicate balance and soft aroma, Xiaman mezcal represents the best of Mexico’s heritage now offered to the world.
          .col-md-6.hide-mobile
            img.img-fluid.d-block.mx-auto(src='../../assets/images/magic-moment.png')
</template>

<script>
import Vue from 'vue'
export default {
  name: 'OurHistory',
  data () {
    return {
    }
  },
  created: function () {
    console.log("history")
    var reload = Vue.ls.get('xiaman-history-reload');
    console.log(reload)
    Vue.ls.set('xiaman-history-reload', false, 30 * 24 * 60 * 60 * 1000);
    if (reload) {
      location.reload();
    }
  }
}
</script>

<style lang="stylus">
$color1 = white
$color2 = #028864
$color3 = #0f0f0f
.our-history
  background $color3
.bg-section
  position relative
  height auto
  h3
    text-align center
  h3,p
    color white
  p
    font-size 18px

.bg-section-1
  background url("../../assets/images/bg-1.png") no-repeat no-repeat
  padding-top 25%
  padding-bottom 10%
  .history-text
    margin-top 25%
  .col.text
    padding-right 10%
    flex-direction column
.bg-section-2
  .history-text
    margin 8% auto
  .col.text
    padding-left 10%
    flex-direction column
.bg-section-3
  .history-text
    margin 8% auto
  .col.text
    padding-right 10%
    flex-direction column
.bg-section-4
  .info
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    p
      color white
      width 35%
      text-align center
      font-size 24px
      line-height: 1.67;
.magic
  padding 50px 0
  color $color1
  h5
    margin-bottom 50px
  p
    width 75%
  img
    width 85%
@media only screen and (min-width: 1350px)
  .bg-section .line-separator
    height 35%
@media only screen and (max-width: 1150px)
  .bg-section .info-box>div
    width 50%
@media only screen and (max-width: 992px)
  .bg-section
    height 80vh
    .line-separator
      display none
  .bg-section .info-box > div
    background-color transparent
  .bg-section .info-box h3
    padding 0 10%
    font-size 25px
    text-align center
    margin 30px 0 15px 0
  .bg-section .info-box > div, .bg-section .info-box .text-block-light
    width 95%
    height auto
    border none
    padding 5px 10px
    p
      font-size 14px
      line-height 1.9
  .line-separator, .line-separator-transparent
    display none
  .bg-section .info-box .text-block
    width 100%
    border none
    background-color transparent
  .magic
    h5
      text-align center
    img
      margin-bottom 50px
    p
      width 100%
      line-height 1.8
      font-size 14px
      padding 0 8%

</style>
