<template lang="pug">
  #home.home
    #slider.carousel.slide(data-ride='carousel')
      //ol.carousel-indicators.mobile-only.flex-cc
        li.active(data-target='#slider', data-slide-to='0')
      .carousel-inner
        .carousel-item.active
          img.carousel-background.img-fluid.d-block.w-100.hide-mobile(src='../../assets/images/slider1-bg.jpg', alt='First slide')
          img.carousel-background.img-fluid.d-block.w-100.mobile-only(src='../../assets/images/slider1-bg-mobile.jpg', alt='First slide')
          .slider-content
            .carousel-text.d-md-block
              h5
                |The Spirit of Generations
                span.hide-mobile.h5
              p Crafted with an art handed down by five generations, this wild agave blend mezcal is a gift from ancient times. Sweet, aromatic and smokey, authentic, yet elegant: Xiaman Mezcal will appeal to all your senses.
              router-link.btn-1.upper.hide-mobile(:to="{name: 'xiaman'}") see more
            .carousel-image.flex-cc
              img(src='../../assets/images/botella.png')
      //a.carousel-control-prev.hide-mobile(href='#slider', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      //a.carousel-control-next.hide-mobile(href='#slider', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
    .product-introduction
      .container.row
        .col-md-6
          div.embed-responsive.embed-responsive-16by9
            iframe(width='560', height='315', src='https://www.youtube.com/embed/uyj7X4Y2qR4?rel=0&controls=1&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
        .col-md-6.text-info
          div
            h5 Jaguar‘s Dream Movie
            p Learn more about Xiaman‘s transcendant journey from Mother Earth into a spiritual world.
    .product-info
      .container
        .row
          .col-xs-12.mobile-only
            h3 Make Sure Your Ice Is Safe And Clean
          .col-md-5.col-xs-12.img-container
            img.img-fluid(src='../../assets/images/botella-1.png')
          .col-md-7.col-xs-12.text-info
            div
              h3.hide-mobile  100 % Artisanal Mezcal
              p.hide-mobile The manufacturing of Xiaman Mezcal is strictly "artesanal", which means according to tradition and specific rules. With 44% alcohol content, this "ensamble" -roasted Tepextate & Espadín blend is of the highest quality and meets all standards set by the Mezcal Regulatory Council.
              p.hide-mobile Xiaman Mezcal is a very sensual spirit dedicated to detail and quality.
              p.mobile-only The manufacturing process of Xiaman is strictly artisanal. With 44 degrees of alcohol, this blend of the highest quality is made to surpass all standards established by the Mezcal Regulating Council.
              p.mobile-only We offer the best mezcal to the sophisticated European palate, and we are prepared to conquer this world. 
              .btn-container
                router-link.btn-1.upper(:to="{name: 'xiaman'}") buy now
                //form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                  input(type="hidden" name="cmd" value="_s-xclick")
                  input(type="hidden" name="hosted_button_id" value="5D539X7NBD8QL")
                  input.btn-1.upper(type="submit" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" value="Buy now")
    .product-background
      .row
        .col-md-6.box
          img.img-fluid.d-block.w-100(src='../../assets/images/history-copy.jpg')
          .box-details
            h3 Our History
            p Stories are built around experiences and anecdotes, and thrive on our memories. Here is our story…
            router-link(:to="{name: 'our-history'}")
              .btn-1.upper see more
        .col-md-6.box
          img.img-fluid.d-block.w-100(src='../../assets/images/process-copy.jpg')
          .box-details
            h3 Our Process
            p Learn more about how mezcal is made and what makes Xiaman so extraordinary.
            router-link(:to="{name: 'our-process'}")
              .btn-1.upper see more
    .instagram-gallery
      .container
        h3 Follow us on Instagram
        .row
          // InstaWidget
          //iframe.instawidget(src="http://instaembedder.com/gallery-v2.php?&cols=3&rows=3&margin=5&color=white&image_border=8&frame_color=white&cid=7929&" frameborder="0" width="100%" )
          div.instawidget(data-user-name="xiaman.mx" data-amount="9" data-grid="3")

</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
    }
  }
}
</script>

<style lang="stylus" scoped>
$color1 = white
$color2 = #028864
$color3 = #0f0f0f

.slider-content
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  width 100%
  display flex
  flex-direction row
  justify-content center
  align-items center
  a:hover, a:focus
    color $color1
    text-decoration none
  .carousel-text
    text-align left
    position relative
    width 32%;
    color $color1
    p
      font-size 16px
      font-weight 300
      margin 30px 0
  .carousel-image
    width 30%
    img
      width 70%

.product-info
  background url('../../assets/images/texturas.png') repeat repeat
  padding 80px 0
  img
    width 50%
    float right
  h3
    color $color2
    width 58%
  p
    color $color3
  a:hover
    color $color1

.instagram-gallery
  background $color3
  padding 80px 0
  .instawidget ul li
    padding none !important
  .row, .col, .col-md-4
    padding 0
    margin 0
  h3
    color $color1
    text-align center
    margin-bottom 50px
@media only screen and (max-width: 992px)
  h5, .h5
    font-size 22px
@media only screen and (max-width: 678px)
  .btn-container
    display flex
    justify-content center
    align-items center
  .slider-content
    .carousel-text, .carousel-image
      width 45%
      img
        width 80%
      p
        font-size 12px
        margin 5px 0
      h5
        font-size 20px
  .img-container
    margin-top 20px
    display flex
    justify-content center
    align-items center
  .text-info > div
    padding-left 0
  .product-info
    .btn-1
      margin-top 20px
    h3
      width 100%
      padding 0 15%
      text-align center
      letter-spacing 2.2px
    div p
      text-align center
      width 100%
      padding 0 10%
</style>
