<template lang="pug">
.navbar-container.whited
  nav.navbar.navbar-expand-lg.bg-faded.w-100(v-bind:class="{ green: $route.name=='xiaman' }")

      a.navbar-brand(href='#')
        img.img-fluid(src='../../assets/images/logo.png')
      button.navbar-toggler.align-self-end(type='button', aria-label='Toggle navigation', v-on:click="toggleMenu()")
        span.fa.fa-bars
      #navbarMenu.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item(v-bind:class="{active: $route.name=='home'}",  v-on:click="onClick()" )
            router-link.nav-link(:to="{name: 'home', params: { country: selectedCountry }}")
              a Home
          li.nav-item(v-bind:class="{active: $route.name=='xiaman'}", v-on:click="onClick()")
            router-link.nav-link(:to="{name: 'xiaman', params: { country: selectedCountry }}")
              a Xiaman
          li.nav-item(v-bind:class="{active: $route.name=='our-process'}", v-on:click="onClick()")
            router-link.nav-link(:to="{name: 'our-process', params: { country: selectedCountry }}")
              a Our Process
          li.nav-item(v-bind:class="{active: $route.name=='our-history'}", v-on:click="onClick()")
            router-link.nav-link(:to="{name: 'our-history', params: { country: selectedCountry }}")
              a Our History
          li.nav-item(v-on:click="onClick()")
            router-link.nav-link(:to="{name: 'xiaman', params: { country: selectedCountry }}") Buy
            //form#form-paypal(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
              input(type="hidden" name="cmd" value="_s-xclick")
              input(type="hidden" name="hosted_button_id" value="5D539X7NBD8QL")
              a.nav-link(href="javascript:{}" onclick="document.getElementById('form-paypal').submit();") Buy
          li.nav-item.dropdown.hide-mobile
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | {{selectedCountry}}
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#', v-for="country in countries", v-on:click="selectCountry(country)") {{country}}
          li.nav-item.mobile-only
              select
                option(v-for="country in countries") {{country}}
          li.social.mobile-only
            p Social
            .social-container
              a.social-network(href='https://www.facebook.com/xiaman.mezcal/' target='_blank')
                span.fa.fa-facebook-square
              a.social-network(href='https://www.instagram.com/xiaman.mezcal/' target='_blank')
                span.fa.fa-instagram
              a.social-network(href='https://www.youtube.com/channel/UCG4rvznLmh34xpXxyAIZu5g?view_as=subscriber' target='_blank')
                span.fa.fa-youtube-square
</template>

<script>
import Vue from 'vue'
export default {
  name: 'navbar',
  data () {
    return {
      scrolled: false,
      countries: ['GE', 'AU', 'FR', 'BE',  'ES', 'CR', 'US',  'CH', 'WW'],
      selectedCountry: Vue.ls.get('xiaman-country')
    };
  },
  methods: {
    selectCountry(country){
      this.selectedCountry = country;

      Vue.ls.set('xiaman-older-21', "yes", 30 * 24 * 60 * 60 * 1000); //expiry 30 day
      Vue.ls.set('xiaman-country', this.selectedCountry, 30 * 24 * 60 * 60 * 1000); //expiry 30 day
      var path = this.$route.path;

      var pathSplit = path.split("/");
      var routeName = pathSplit[pathSplit.length - 1];

      if (pathSplit.length  > 3) {
        country = "WW";
        routeName = "";
      }

      var totalRoute = "/" + country.toLowerCase() + "/" + routeName;
      if (path.toUpperCase() != totalRoute.toUpperCase() ){
        this.$router.push(totalRoute);
      }
    },
    onClick() {
      Vue.ls.set('xiaman-history-reload', true, 30 * 24 * 60 * 60 * 1000);
      console.log("guardando")
      $('#navbarMenu').hide();
    },
    toggleMenu() {
      $('#navbarMenu').toggle();
    }

  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  }
}
</script>

<style lang="stylus" scoped>
$color1 = white
$color2 = #028864
$color3 = #0f0f0f
  .navbar-container.whited
    background-color rgba(255, 255, 255, 1)
    nav .active a
      color $color2
      font-weight 500
    a, .fa
      color $color3
      font-weight 500
    nav a.dropdown-item, nav .active a.dropdown-item
      $color3
  nav.green
    a, .fa
      color $color3
      font-weight 500

  nav
    padding 5px 18%
    max-height 70px
    a, .fa
      color $color1
    .dropdown-menu a.dropdown-item
      color $color3
    .dropdown-menu a.dropdown-item:hover, .dropdown-menu a.dropdown-item:focus
      color $color2
  nav a:hover, nav a:focus, nav .active a,
  nav .fa:hover, nav .fa:focus, nav .active .fa
    color $color2
    text-decoration none
  nav .navbar-brand img
    height 45px
  nav ul.navbar-nav
    width 100%
    display flex
    justify-content center
    li
      margin 0 15px;
  .navbar-container
    transition all ease .25s
    background-color rgba(255, 255, 255, 1)
    z-index 99999
    position fixed
    left 0
    top 0
    width 100%
    nav a.dropdown-item, nav .active a.dropdown-item
      $color3
@media only screen and (max-width: 1250px)
  .navbar-container nav
    padding 5px 8%
    ul.navbar-nav
      justify-content flex-end

@media only screen and (max-width: 991px)
  .navbar-container
    height 58px
    nav
      padding 5px 0
    .navbar
      position relative
      height 100%
      .navbar-brand
        width 100%
        padding 0
        position absolute
        display flex
        justify-content center
        top 0
        bottom 0
        align-items center
    nav a, nav .fa
      color $color3
    nav .active a
      color $color2
    button
      position absolute
      bottom 15px
      right 10px
  nav ul.navbar-nav li
    margin 5px 50px
  nav
    padding 5px 0%
    button
      outline none
    .collapsing
      transition none
      display none
    .collapse, .show
      background-color $color1
      z-index -1
      padding-top 100px
      margin-top 488px
      transition all ease .1s
      .social
        margin 25px 50px 50px 50px
        p
          color $color3
          font-size 20px
          font-weight 600
          letter-spacing 0.8px
          text-align center
        .social-container
          display flex
          flex-direction row
          justify-content center
          .fa
            font-size 40px
          .social-network
            margin 0 5px
      a
        text-transform uppercase


</style>
