<template lang="pug">
  #footer.footer
    .container
      .row
        .col-md-3.col-12.mobile-only.xiaman-head
          img.img-fluid.mx-auto.d-block(src='../../assets/images/xiaman-head.gif')
        .col-md-3.col-sm-12.col-12
          p.strong Contact
          p
            |Xiaman Spirits GmbH
            br
            |Tschiggfreystrasse 19
            br
            |A-6020 Innsbruck
            br
            |Austria
          p
            a(href='tel:+43 (512) 239570' target='_blank') T: +43 (512) 239570
            br
            a(href='tel:+43 (512) 239570-30' target='_blank') F: +43 (512) 239570-30
            br
            a(href='mailto:info@xiaman.mx' target='_blank') M: info@xiaman.mx
        .col-md-3.col-sm-12.col-12
          p.strong Links
          p
            router-link(:to="{ name: 'agb'}") AGB
            br
            |Zahlung & Versand
            br
            router-link(:to="{ name: 'ruckgabe-umtausch'}") Rückgabe und Umtausch
            br
            router-link(:to="{ name: 'datenschutz'}") Datenschutz
            br
            router-link(:to="{ name: 'impressum'}") Impressum
            br
            |Pressekontakt
        .col-md-3.col-sm-12.col-12.hide-mobile
          img.img-fluid.mx-auto.d-block(src='../../assets/images/xiaman-head.gif')
        .col-md-3.col-sm-12.col-12
          p.strong Social
          a.social-network(href='https://www.facebook.com/xiaman.mezcal/' target='_blank')
            img.img-fluid(src='../../assets/images/facebook.png')
          a.social-network(href='https://www.instagram.com/xiaman.mezcal/' target='_blank')
            img.img-fluid(src='../../assets/images/instagram.png')
          a.social-network(href='https://www.youtube.com/channel/UCG4rvznLmh34xpXxyAIZu5g?view_as=subscriber' target='_blank')
            img.img-fluid(src='../../assets/images/youtube.png')
</template>

<script>
export default {
  name: 'footr',
  data () {
    return {
    }
  }
}
</script>

<style lang="stylus">
$color1 = white
$color2 = #028864
$color3 = #0f0f0f
.footer
  padding 50px 0 30px 0
  background $color3
  color $color1
  .row > div
    padding 0 4%
  a
    color $color1
  p
    font-size 14px
  .social-network
    margin-right 10px
    > img
      width 30px
      height 30px
@media only screen and (max-width: 767px)
  .footer
    text-align center
    padding-bottom 80px
    .xiaman-head
      margin-bottom 30px
    p.strong
      font-size 20px
    p
      letter-spacing 0.7px
      font-size 16px
    .social-network
      margin-right 15px
</style>
