
<template lang="pug">
  div#app
    disclaimer
    navbar
    router-view
    footr
</template>


<script>
import Navbar from './components/navbar/Navbar.vue'
import Footr from './components/footer/Footer.vue'
import Disclaimer from './components/disclaimer/Disclaimer.vue'
export default {
  name: 'App',
  components: {
    navbar: Navbar,
    footr: Footr,
    disclaimer: Disclaimer
  },

}
</script>

<style lang="stylus">
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro:300,400,600,700')
$font1 = 'Source Sans Pro', sans-serif
$font2 = 'Kaushan Script', cursive
$color1 = white
$color2 = #028864
$color3 = #0f0f0f
$color4 = black
$color5 = #2c2c2c
$color6 = #979797
$color8 = #006348

*, p, span, div, a
  font-family $font1
  font-weight 300
  line-height 1.75
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
  font-family $font2
  font-weight 300
  letter-spacing 1.5px
  line-height 1.4
a:hover, a:focus
  text-decoration none


h3,.h3
  font-size 38px
h5,.h5
  font-size 32px
.flex-cc
  display flex
  justify-content center
  align-items center
.btn-1
  background $color2
  color $color1
  width auto
  height 40px
  min-height 40px
  max-height 40px
  padding 10px 35px
  border-radius 25px
  display inline-block
  cursor pointer
  font-size 12px
  font-weight 300
  transition ease all .2s
.btn-1:hover, .btn-1:hover
  background $color8
.btn-2
  display inline-flex
  justify-content center
  align-items center
  margin 0 10px
  width 125px
  height 45px
  background $color5
  cursor pointer
  font-size 16px
  color $color6
  border 1px solid $color6
  transition ease all .2s
.btn-2:hover, .btn-2:focus
  border solid 1px $color2
  color $color2

.upper
  text-transform uppercase
.strong
  font-weight bold
.mobile-only
    display none !important
.product-introduction
  display flex
  justify-content center
  background $color3
  padding 60px 0
  h5,p
    color $color1
.text-info
  display flex
  align-items center
  >div
    padding-left 40px
    p
      margin-top 20px
      width 75%
.product-background
  >div, .row, .row > div
    padding 0
    margin 0
  .box-details
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    display flex
    flex-direction column
    justify-content center
    align-items center
    h3,p
      color $color1
    p
      width 65%
      text-align center
      margin 25px 0
@media only screen and (max-width: 992px)
  *, p, span, div, a
    font-size 14px
  body
    overflow-x hidden
@media only screen and (max-width: 767px)
  .mobile-only
    display block !important
  .hide-mobile
    display none !important
  body
    overflow-x hidden
  .btn-1
    font-size 16px
    padding 6px 50px
    border none
  .product-background
    .box-details p
      margin 10px 0
      line-height 1.5
      width 80%
  .product-introduction
    padding 20px 0
    .text-info
      text-align center
      margin-top 25px
      > div
        padding-left 0
      p
        margin-top 0
        width 100%
        padding 0 5px
  .flex-cc
    width 100%
    display flex
    justify-content center
    align-items center




</style>
