<template lang="pug">
  #payment-success.payment-success
    .logo
      img.img-fluid.d-block(src='../../assets/images/logo-xiaman-2x.png')
    .logo-head
      img.img-fluid.d-block(src='../../assets/images/jaguar-verde.png')
    h3.upper PAYMENT SUCCESS!
    p Thanks for your purchase, wait for our email.
    router-link.btn-1.upper(:to="{ name: 'home'}") go home
</template>

<script>
export default {
  name: 'PaymentSuccess',
  data () {
    return {
    }
  }
}
</script>
<style lang="stylus" scoped>
$font1 = 'Source Sans Pro', sans-serif
$font2 = 'Kaushan Script', cursive
$color1 = white
$color2 = #028864
$color3 = #0f0f0f
$color4 = black
$color5 = #2c2c2c
$color6 = #979797
$color7 = #9c9a9f
.payment-success
  background $color4
  z-index 9999999999999999999
  position fixed
  top 0
  left 0
  overflow hidden
  width 100vw
  height 100vh
  display flex
  justify-content center
  align-items center
  flex-direction column
  padding-top 10%
  > *
    margin 10px 0
  h3
    color $color1
    font-family $font1
    font-size 30px
    font-weight 600
    font-style normal
    font-stretch normal
    line-height normal
    letter-spacing 10px
  a, a:hover, a:focus
    text-decoration none
    color $color1
  .logo
    position absolute
    left 0
    top 10%
    right 0
    img
      margin 0 auto
      width 20%
  p
    color $color1
    font-size 18px
    font-weight 600
    text-align center
    line-height 1.9
@media only screen and (max-width: 767px)
  .payment-success
    .logo
      top 5%
      img
        width 50%
</style>
